*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.question_container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    border: 1px solid black;
    min-width: 40%;
    padding: 2rem 3rem;

    &-top{
        display: flex;
        justify-content: space-between;
    }
}